/*
ubuntu titulos:
font-family: 'Ubuntu', sans-serif;

ubuntu textos:
font-family: 'Ubuntu', sans-serif;


*/


body{
    margin:0;
    padding:0;
    font-size:100%;
    background:#F8FAFB;
    overflow-x: hidden;
    text-decoration: none;
    box-sizing: border-box;
}
.main_container
{
    width:1200px;
    height:1024px;
    display:flex;

}
navbar
{
    width:200px;
    height:100%;
    background:#fff;
    font-family: 'Ubuntu', sans-serif;
    position:fixed;
}
.logo
{
    width:100%;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:26px;
    margin-bottom:56px;
}
.menusItens
{
    width:100%; 
    height:auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
.menusItens a{
    text-decoration: none;
}
.menusItens .item{
    width:160px;
    height:56px;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: -0.01em;

}
.ativo{
    color: #0561FC;
    background: #EDF4FF;
    font-weight: bold;
}
.offl{
    color:#AEB9BE;
}
.offl:hover{
    background:#eee;
    color:#999;
}

.menusItens .item img{
    margin-right:14px;
}








header
{
    width:927px;
    height:100%;

}
.topo
{
    width:100%;
    height:74px;
    background:#fff;
    position:absolute;
    left:210px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    margin-top:5px;
}
.form{
    width:auto;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.input{
    display:flex;
    margin-left:30px;
}
.search{
    width:810px;
    height:40px;
    background: #F8FAFB;
    border-radius: 8px;
    border:0px;
    padding-left:54px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    outline: none;
/* identical to box height */
    color: #333;
    margin-top:-5px;

}
.icon_search{
    position:absolute;
    left:50px;
    top:27px;
}
.user{
    width:190px;
    height:400px;
    position:absolute;
    z-index:999;
    left:70%;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: -0.01em;
    
    color: #000000;
}
.user img{
    width:35px;
    height:35px;
    border-radius: 8px;
}
.nameuser{
    width:130px;
    height:35px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:10px;
    cursor: pointer;
    z-index:999;
}

.expandir_user{
    width:150px; /*150px */
    height:0px; /*150px */
    background:#fff;
    border-radius: 8px;
    position:absolute;
    top:220px;
    left:40px;
    z-index: 999;
    box-shadow: 2px 5px 10px #eee;
    display:none;
}
















