@font-face{font-family: emberCondesed; src:url(./css/ember_bd/AmazonEmberCdRC_Bd.ttf); }
@font-face{font-family: ember; src:url(./css/ember/AmazonEmber_Lt.ttf);}

$cor-primaria: #1A242E;
$cor-secundaria: #0F79AF;
$cor-terciaria: #fff;
$cor-quartenaria: #798088;
$fonte_condesed:emberCondesed;
$font_ember: ember;
$fonte-titulo-size:2.5rem;
$font-texto-size:16px;  
$icones-size-width: 23px;
$icones-size-height: 23px;
$font-size-banner: 19px;
